/* ======== Animación al abrir la web ======== */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplicar la animación a todo el contenido */
body {
    animation: fadeIn 1.5s ease-out;
}
body {
    color: black; /* Cambia el color del texto a negro */
}
